/* Write your CSS code here */
.container-of-form {
}
.LoginForm-page-container {
  padding: 40px;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
}
.login-form-image {
  height: 500px;
  width: 700px;
}

.form-details-container {
  background-color: #ffffff;
  font-family: 'Roboto';
  border-radius: 14px;
  padding: 40px;
  box-shadow: 0px 4px 16px 0px;
  height: 40vh;
}
.website-logo-inside-form {
  text-align: center;
  height: 40px;
}
.label-text-form {
  font-size: 18px;
  color: #475569;
  font-weight: 600;
}
.user-name-input {
  height: 30px;
  width: 280px;
  border-width: 0px;
  border-radius: 10px;
  background-color: #d7dfe9;
  font-size: 18px;
  font-family: 'Roboto';
  color: #475569;
  padding: 12px;
}
.website-logo-inside-form-container {
  text-align: center;
}
.submit-form-button {
  height: 50px;
  width: 310px;
  padding: 12px;
  font-family: 'Roboto';
  font-size: 18px;
  background-color: #0b69ff;
  color: #ffffff;
  border-radius: 10px;
  border-width: 0px;
}
.error-msg{
  font-family: "Roboto";
  font-size: 12px;
  color: #ff0b37;
}